
<ion-content *ngIf="allLocations">
  <ion-list>
    <ion-list-header>
      Listado de localizaciones
    </ion-list-header>

    <ion-item *ngFor = "let location of allLocations.results " (click) = "openModal(location)">
      <ion-avatar slot="start">
        <img src="..\..\..\assets\icon\Rick-and-Morty-serielizados.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{ location.name }}</h2>
        <p>Tipo: {{ location.type }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
